* annex.backend=MD5E
**/.git* annex.largefiles=nothing
*.bval annex.largefiles=nothing
*.bvec annex.largefiles=nothing
*.html annex.largefiles=nothing
*.json annex.largefiles=nothing
*.log annex.largefiles=nothing
*.toml annex.largefiles=nothing
*.tsv annex.largefiles=nothing
.bids-validator-config.json annex.largefiles=nothing
.bidsignore annex.largefiles=nothing
CHANGES annex.largefiles=nothing
LICENSE annex.largefiles=nothing
README* annex.largefiles=nothing
code/** annex.largefiles=nothing
dataset_description.json annex.largefiles=nothing
*.gii annex.largefiles=anything
*.svg annex.largefiles=anything
